@font-face {
  font-family: "SourceSansPro";
  src: url("fonts/SourceSansPro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "SourceSansPro";
  font-style: italic;
  src: url("fonts/SourceSansPro/SourceSansPro-Italic.ttf");
}

@font-face {
  font-family: "OpenSansCond";
  font-weight: bold;
  src: url("fonts/OpenSans-CondBold.ttf");
}

@font-face {
  font-family: "OpenSansCond";
  font-weight: normal;
  src: url("fonts/OpenSans-CondLight.ttf");
}

@font-face {
  font-family: "OpenSansCond";
  font-weight: normal;
  src: url("fonts/OpenSans-CondLight.ttf");
}

