body {
    background-color: #E7F4FC;
    font-family: "OpenSansCond", sans-serif;
}

.chart {
    position: relative;
    /* keep a ratio of 2.5 : 1 */
    width: 580px;
    height: 230px;
    border: solid 1px silver;
}

.yAxis .tickLabel {
    padding: 0px 3px 0px 0px;
    ;
}

.chart .value-label {
    display: block;
    position: absolute;
}

.chart .value-label.value {
    font-size:1.2em;
}

.chart .value-label.label {
    font-size:1.2em;
    font-weight: normal;
}
